*{
    padding: 0%;
    margin: 0%;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.info-container {
    background-color: #2b1e16;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.test1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;

}

.test1 p {
    font-weight: 0%;
}

.test1 img {
    height: 200px;
    width: auto;
}

.item1 {
    margin-top: 70px;
    margin-left: 50px;

}

.banner {
    height: auto;
    max-width: 100%;
}

.logo {
    height: 60px;
    width: auto;
}

.links {
    float: right;
    height: 15px;
    width: 15%;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    line-height: 15px;
}

.signup {
    margin-left: 20px;
    background-color: black;
    color: white;
    margin-right: 50px;
}

.locationinput {
    width: 70%;
    height: 25px;
    color: gray;
    margin: 40px auto auto 0px;
    padding: 10px;
    font-size: 18px !important;
    font-weight: 500;
}

.location {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 293px;
    left: 450px;
    padding: 20px;
}

button:hover {
    background-color: lightgrey;
}

.findfood {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 2rem;
    letter-spacing: 0;
    color: #fff;
    background-color: #fc8019;
}

.cities {
    font-size: 15px;
    color: #a9abb2;
    margin: 30px 0 10px;
    letter-spacing: -.2px;
    text-transform: uppercase;
}

.citylist {
    width: 570px;
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.list {
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    color: #686b78;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}

.list:nth-child(even) {
    color: lightslategray;
}

.box3 .h1 {
    font-size: 80px;
    font-family: Arial;
    color: #282c3f;
}

.main-2 {
    display: flex;
    justify-content: space-evenly;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;

}

.playstore {
    margin-top: 0%;
}

.main-2 .box3 h3 {
    color: #686b78;
    font-weight: 300;
}

.box3 {
    margin-top: 150px;
}

.rp h1 {
    font-size: 40px;
    font-weight: 600;
    color: #282c3f;
}

.foot-panel1 {
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
}
.foot-panel1-1{
    margin-left: px;

}

.foot-panel1 h1 {
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    font-size: 18px;
    color: #808080;
    margin-left:25px;
    margin-top: 10px;
    padding:10px;
}
.foot-panel1 p{
    margin-left: 25px;
    margin-top: 10px;
    padding: 10px;
}

.foot-panel1-2{
    margin-left: 700px;
    margin-top:54px;;

}
.foot-panel1-3{
    background-color: black;
    border-top:2px solid #282c3f;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;

}

.foot-panel1-3 p{
    margin: 20px;
    margin-top:30px ;
}

.social-media-logo{
    height: 75px;
    margin-top:10px;
}